h4{
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 5px;
}

.container{
  max-width: 1000px;
  background: #efefef;
  text-align: justify;
  padding: 25px;
  border-radius: 8px;
}

label{
  text-transform: uppercase;
  font-weight: 300;
  color: #4EB6CF;
}
