

<div class="container">

  <h4>A propos de ShopAround</h4>

  <p>
    ShopAround est un magasin de Multimedia. Il existe une dizaine de magasins partout en Suisse.<br>
    ShopAround propose également une vente en ligne via cet e-shop, cela vous permet de passer commande tout en restant chez vous. <br>
    Bon shopping !
  </p>

  <h4>Coordonnées</h4>

  <label>Adresse postale du siège social :</label>
  <p>Rue du magasin 7 <br>
     1005 Lausanne.
  </p>

  <label>Email :</label>
  <p>info@shoparound.ch</p>

  <label>Telephone :</label>
  <p>022/00.00.00</p>

</div>


