

<div class="container">

  <h4>Foire aux questions</h4>

<p class="question">Puis-je payer avec des chèques consommation chez ShopAround ?</p>
<p class="reponse">
  Oui, depuis le 2 août 2021, c'est possible chez ShopAround. Vous pouvez payer tous vos achats en magasin avec vos chèques consommation Sodexo,
  Edenred et Monizze, aussi bien en version papier qu'en version électronique. Par contre, les webshops ne peuvent pas accepter ce type de chèques.
  Les chèques consommation ne sont donc pas valables pour vos achats en ligne et comme mode de paiement à la livraison.
  Attention : si votre appareil est moins cher que la valeur de vos chèques consommation, tout comme pour les éco-chèques, nous ne pouvons pas vous
  rembourser en espèces.Bonne nouvelle : initialement fixée au 7 Juin 2021, la durée de validité des chèques a été prolongée au 31 décembre 2022.
</p>

<p class="question">La livraison est-elle gratuite ?</p>
<p class="reponse">
  Nous livrons votre commande gratuitement à l'adresse de votre choix en Belgique en fonction des dimensions du paquet.
  Pour plus de renseignements sur les tarifs, veuillez-nous contacter.
</p>

<p class="question"> Que dois-je faire si je trouve un produit moins cher ailleurs ?</p>
<p class="reponse">
  Dans le cas d'un achat en magasin, apportez une preuve écrite du prix plus bas au magasin. Nos vendeurs vérifient les conditions et adaptent le
  prix immédiatement. Dans le cas d'une commande en ligne, vous pouvez envoyer un e-mail avec la preuve du prix le plus bas à webshop@shoparound.be.
  Nos collaborateurs vérifient les conditions et vous tiennent au courant.
</p>

<p class="question">  Combien de temps dure la garantie d'un achat chez ShopAround ?</p>
<p class="reponse">
  Nous vous proposons un service privilégié dans le cadre de la garantie légale aux consommateurs de 2 ans. Vous pouvez souscrire
  une garantie de 3 ans pour certains appareils et même de 5 ans pour d'autres.
</p>

<p class="question"> Comment introduire une demande de réparation ?</p>
<p class="reponse">
  Veuillez téléphoner au service après-vente au 087/77.77.77 car cela dépend du produit concerné.
</p>

<p class="question">  Quelles sont les conditions et comment faire pour retourner un article acheté en magasin ?</p>
<p class="reponse">
  Pour les articles achetés en ligne ou par téléphone, vous pouvez renoncer à votre achat dans un délai de 14 jours à partir de la livraison.
  Consultez ici la procédure de retour.
  Pour les articles achetés en magasin, vous ne pouvez malheureusement pas les retourner. Le délai de réflexion de 14 jours n'est pas d'application.
</p>

<p class="question">Que dois-je faire si j'ai perdu ma preuve de garantie (facture/ticket de caisse) ?</p>
<p class="reponse">
  Demandez une copie de votre facture en envoyant un e-mail à info@shoparound.be.
  Nous vous conseillons, toutefois, de créer un compte My ShopAround. Il regroupe toutes vos factures.
  Comme ça, plus de risque de les perdre ! Vos achats sont automatiquement enregistrés dans votre compte via votre adresse mail.
</p>

<p class="question">Quand vais-je recevoir une réponse à ma demande de remboursement ?</p>
<p class="reponse">
  Notre service consommateurs traite votre demande dans les plus brefs délais. Vous n'avez toujours
  pas de nouvelles après 3 semaines ? Contactez le service concerné à l'adresse info@shoparound.be.
</p>

<p class="question">Quand vais-je recevoir mon remboursement en cas de retour, d'échange ou d'annulation de ma commande ?</p>
<p class="reponse">
  En fonction de la méthode de payement que vous avez choisie, le remboursement sera effectué dans les 5 à 14 jours.
  Voici les possibilités :
  Bancontact, virement bancaire, ING Homepay, KBC/CBC Online, Belfius DirectNet : dans les 14 jours, vous recevrez l'argent
  sur votre compte.
  PayPal, Maestro, Visa, MasterCard, American Express : dès que votre demande de remboursement a été traitée.
  Attention : avec les cartes de crédit, il est possible que le remboursement ne soit visible sur votre facture de règlement mensuel
  que le mois suivant.
</p>

<p class="question"><p class="question"></p>
Quelles sont les conditions et comment faire pour échanger un article acheté en ligne ou par téléphone ?
<p class="reponse">
  Pour un appareil acheté sur le site ou par téléphone, contactez nos collaborateurs du Contact Center au numéro 087/77.77.77.
</p>

<p class="question">  Ai-je droit à un article de remplacement pendant la réparation de mon article ?</p>
<p class="reponse">
  En fonction de la disponibilité et moyennant une petite caution, il est possible de recevoir un article de remplacement
  durant la période de réparation de votre réfrigérateur, congélateur, fer vapeur, GPS, TV, aspirateur ou GSM/smartphone.
</p>

</div>


